<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
</head>
<body>
    <fieldset> <legend>Cadastrar Produto</legend>
        <form method="post" action="../controller/cadastrar.php">
            Código: <input type="text" name="codigo_produto" title=""> <br/>
            Descrição: <input type="text" name="descricao_produto" title=""> <br/>
            Preço: <input type="text" name="preco_produto" title=""> <br/>
            <input type="submit" value="Cadastrar">
        </form>
        <form action="../index.html">
            <input type="submit" value="Cancelar">
        </form>



    </fieldset>
</body>
</html>