<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Total de vendas</title>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/javascript.js"></script>
</head>
<body onload="onLoadListDocuments()">

    <fieldset> <legend>Total de vendas</legend>
        <div id="total_vendas" style="width: 400px; height: 400px; border: 1px solid grey;">
            <!-- conteúdo do banco de dados -->
        </div>
    </fieldset>

    <button id="total_voltar" onclick="location.href = '../index.html';">Voltar</button>

</body>
</html>