<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vender Produto</title>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/javascript.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>

    <div class="form-row">
        <div class="col-sm-1 col-md-2 col-lg-4"></div>
            <div class="col-sm-10 col-md-8 col-lg-4">
                <div style="padding-top: 10%"></div>
                <h1>Efetuar venda</h1>
                <div class="col-sm-12">

                    <form method="post" id="busca_produto" action="../controller/incluir.php">
                        <div class="form-group">
                            <label for="codigo_documento">Documento número:</label>
                            <input class="form-control" type="number" readonly id="codigo_documento" value="" name="codigo_documento" title="Venda atual">
                        </div>

                        <label for="lista_produto">Lista de produtos:</label>
                        <div id="lista_produto">
                            <!-- Conteúdo do banco de dados -->
                        </div>
                        <div class="form-group">
                            <label for="cod_produto">Incluir produto por código:</label>
                            <div class="row">
                                <div class="col-sm-8">
                                    <input  class="form-control" type="number" placeholder="Código do produto"  id="cod_produto" name="cod_produto" title="Código do produto">
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-secondary col-sm-12" type="submit">Incluir item</button>
                                </div>
                            </div>

                        </div>
                    </form>
                    <br/>
                    <button class="btn btn-primary" id="confirmar_venda">Confirmar</button>
                    <button class="btn btn-primary" id="cancelar_venda" >Cancelar</button>
                </div>
            </div>
        <div class="col-sm-1 col-md-2 col-lg-4"></div>
    </div>







</body>
</html>