<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vender Produto</title>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/javascript.js"></script>
</head>
<body>
    <div>


        <form method="post" id="busca_produto" action="../controller/incluir.php">
            Venda atual: <input type="number" readonly id="codigo_documento" value="" name="codigo_documento" title="Contador de venda atual">
            <br/>
            Lista de produtos:<br/>


            <div id="lista_produto" style="width: 400px; height: 400px; border: 1px solid grey;">

            </div>

            Produto: <input type="text" name="cod_produto" title="Código do produto">

            <input type="submit" id="incluir" value="Ok">
            <!--<button id="incluir" onclick="return incluir()">Ok</button> !-->
        </form>


        <br/>

        <input type="submit" value="Cancelar">
        <input type="submit" value="Confirmar">



    </div>
</body>
</html>